# Database postgres
DB_USERNAME = postgres
DB_PASSWORD = 12345
DB_HOSTNAME = localhost
DB_PORT = 5432
DB_NAME = my_db
# JWT
SECRET_KEY = YOUR-SECRET-KEY
ALGORITHM = YOUR-ALGORITHM
TOKEN_EXPIRE_MINUTES = YOUR-TOKEN-EXPIRATION-TIME